{
    "semi": false,
    "tabWidth": 4,
    "printWidth": 100,
    "useTabs": false,
    "singleQuote": false,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": ["*.vue", "*.html", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.vue"],
            "options": {
                "semi": true
            }
        }
    ]
}
