:root {
    --theme-color: 78, 64, 186;
    --border-radius-large: 10px;
    --border-radius-medium: 8px;
    --border-radius-small: 6px;
    /* --expander-border-color: #ffffff;
    --expander-background-color: #ffffff71; */
    --text-color: #000000;
    /* from githib */
    --color-neutral-emphasis-plus: #24292f;
    --color-neutral-emphasis: #6e7781;
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-neutral-subtle: rgba(234, 238, 242, 0.5);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-accent-muted: rgba(84, 174, 255, 0.4);
    --color-accent-subtle: #ddf4ff;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
    --color-success-muted: rgba(74, 194, 107, 0.4);
    --color-success-subtle: #dafbe1;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-attention-muted: rgba(212, 167, 44, 0.4);
    --color-attention-subtle: #fff8c5;
    --color-severe-fg: #bc4c00;
    --color-severe-emphasis: #bc4c00;
    --color-severe-muted: rgba(251, 143, 68, 0.4);
    --color-severe-subtle: #fff1e5;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-danger-muted: rgba(255, 129, 130, 0.4);
    --color-danger-subtle: #ffebe9;
    --color-open-fg: #1a7f37;
    --color-open-emphasis: #1f883d;
    --color-open-muted: rgba(74, 194, 107, 0.4);
    --color-open-subtle: #dafbe1;
    --color-closed-fg: #d1242f;
    --color-closed-emphasis: #cf222e;
    --color-closed-muted: rgba(255, 129, 130, 0.4);
    --color-closed-subtle: #ffebe9;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;
    --color-done-muted: rgba(194, 151, 255, 0.4);
    --color-done-subtle: #fbefff;
    --color-sponsors-fg: #bf3989;
    --color-sponsors-emphasis: #bf3989;
    --color-sponsors-muted: rgba(255, 128, 200, 0.4);
    --color-sponsors-subtle: #ffeff7;
    --color-primer-fg-disabled: #8c959f;
    --color-primer-canvas-backdrop: rgba(31, 35, 40, 0.5);
    --color-primer-canvas-sticky: rgba(255, 255, 255, 0.95);
    --color-primer-border-active: #fd8c73;
    --color-primer-border-contrast: rgba(31, 35, 40, 0.1);
    --color-primer-shadow-highlight: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    --color-primer-shadow-inset: inset 0 1px 0 rgba(208, 215, 222, 0.2);
    --color-scale-black: #1F2328;
    --color-scale-white: #ffffff;
    --color-scale-gray-0: #f6f8fa;
    --color-scale-gray-1: #eaeef2;
    --color-scale-gray-2: #d0d7de;
    --color-scale-gray-3: #afb8c1;
    --color-scale-gray-4: #8c959f;
    --color-scale-gray-5: #6e7781;
    --color-scale-gray-6: #57606a;
    --color-scale-gray-7: #424a53;
    --color-scale-gray-8: #32383f;
    --color-scale-gray-9: #24292f;
    --color-scale-blue-0: #ddf4ff;
    --color-scale-blue-1: #b6e3ff;
    --color-scale-blue-2: #80ccff;
    --color-scale-blue-3: #54aeff;
    --color-scale-blue-4: #218bff;
    --color-scale-blue-5: #0969da;
    --color-scale-blue-6: #0550ae;
    --color-scale-blue-7: #033d8b;
    --color-scale-blue-8: #0a3069;
    --color-scale-blue-9: #002155;
    --color-scale-green-0: #dafbe1;
    --color-scale-green-1: #aceebb;
    --color-scale-green-2: #6fdd8b;
    --color-scale-green-3: #4ac26b;
    --color-scale-green-4: #2da44e;
    --color-scale-green-5: #1a7f37;
    --color-scale-green-6: #116329;
    --color-scale-green-7: #044f1e;
    --color-scale-green-8: #003d16;
    --color-scale-green-9: #002d11;
    --color-scale-yellow-0: #fff8c5;
    --color-scale-yellow-1: #fae17d;
    --color-scale-yellow-2: #eac54f;
    --color-scale-yellow-3: #d4a72c;
    --color-scale-yellow-4: #bf8700;
    --color-scale-yellow-5: #9a6700;
    --color-scale-yellow-6: #7d4e00;
    --color-scale-yellow-7: #633c01;
    --color-scale-yellow-8: #4d2d00;
    --color-scale-yellow-9: #3b2300;
    --color-scale-orange-0: #fff1e5;
    --color-scale-orange-1: #ffd8b5;
    --color-scale-orange-2: #ffb77c;
    --color-scale-orange-3: #fb8f44;
    --color-scale-orange-4: #e16f24;
    --color-scale-orange-5: #bc4c00;
    --color-scale-orange-6: #953800;
    --color-scale-orange-7: #762c00;
    --color-scale-orange-8: #5c2200;
    --color-scale-orange-9: #471700;
    --color-scale-red-0: #ffebe9;
    --color-scale-red-1: #ffcecb;
    --color-scale-red-2: #ffaba8;
    --color-scale-red-3: #ff8182;
    --color-scale-red-4: #fa4549;
    --color-scale-red-5: #cf222e;
    --color-scale-red-6: #a40e26;
    --color-scale-red-7: #82071e;
    --color-scale-red-8: #660018;
    --color-scale-red-9: #4c0014;
    --color-scale-purple-0: #fbefff;
    --color-scale-purple-1: #ecd8ff;
    --color-scale-purple-2: #d8b9ff;
    --color-scale-purple-3: #c297ff;
    --color-scale-purple-4: #a475f9;
    --color-scale-purple-5: #8250df;
    --color-scale-purple-6: #6639ba;
    --color-scale-purple-7: #512a97;
    --color-scale-purple-8: #3e1f79;
    --color-scale-purple-9: #2e1461;
    --color-scale-pink-0: #ffeff7;
    --color-scale-pink-1: #ffd3eb;
    --color-scale-pink-2: #ffadda;
    --color-scale-pink-3: #ff80c8;
    --color-scale-pink-4: #e85aad;
    --color-scale-pink-5: #bf3989;
    --color-scale-pink-6: #99286e;
    --color-scale-pink-7: #772057;
    --color-scale-pink-8: #611347;
    --color-scale-pink-9: #4d0336;
    --color-scale-coral-0: #fff0eb;
    --color-scale-coral-1: #ffd6cc;
    --color-scale-coral-2: #ffb4a1;
    --color-scale-coral-3: #fd8c73;
    --color-scale-coral-4: #ec6547;
    --color-scale-coral-5: #c4432b;
    --color-scale-coral-6: #9e2f1c;
    --color-scale-coral-7: #801f0f;
    --color-scale-coral-8: #691105;
    --color-scale-coral-9: #510901;
    /* font-size: calc(16px - var(--font-size-error)); */
}

h4 {
    font-size: calc(16px - var(--font-size-error));
}

.aaa {
    color: rgb(0, 105, 140);
}

* {
    /* transition: color 0.1s ease, background-color 0.1s ease; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    /* -moz-user-select: none; */
    -webkit-user-select: none;
    cursor: default;
    /* color: #f2f6fa; */
}

*::selection {
    background: rgba(45, 170, 219, 0.3);
}

::-webkit-scrollbar {
    width: 2.5px;
    height: 2.5px;
    opacity: 0;
}

:hover::-webkit-scrollbar {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    background-color: #00000026;
    border-radius: 10px;
}

body {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 100vh;
    /* background-image:
        radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
        linear-gradient(rgba(128, 59, 255, 0.208), rgb(0, 0, 0, 0.3)),
        linear-gradient(#000, #000); */
    border-radius: 16px;
    padding: 5px;
    position: relative;
    background: #05050500;
}

.ball-a,
.ball-b {
    position: absolute;
    z-index: -1;
}

.ball-a {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgba(0, 60, 255, 0.422);
    filter: blur(200px);
    bottom: -10px;
    right: 200px;
    /* animation: 10s  ball-a-move cubic-bezier(1, 1, 0, 0) alternate infinite; */
}

.ball-b {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(0, 213, 255, 0.469);
    filter: blur(200px);
    top: -10px;
    left: 200px;
    /* animation: 10s  ball-b-move cubic-bezier(1, 1, 0, 0) alternate infinite; */
}

@keyframes ball-a-move {
    from {
        top: -10px;
        right: 200px;
    }

    to {
        top: calc(100vh + 10px);
        right: 200px;
    }
}

@keyframes ball-b-move {
    from {
        bottom: -10px;
        left: 200px;
    }

    to {
        bottom: calc(100vh + 10px);
        left: 200px;
    }
}

#window {
    border-radius: 14px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px #00000047;
    /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background-color: #060c1cde; */
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
    /* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    /* background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); */
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    /* background-image: linear-gradient(#ffffff7d, #ffffff7d), url(/413114.jpg); */
    /* background-image: linear-gradient(#ffffff7d, #ffffff7d), url(/1168337.jpg); */
    /* background-image: url(/1168337.jpg); */
    /* background-image: linear-gradient(45deg, #4e40ba, #5848d2); */
    /* background-image: url(/palm-leaf.webp); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)), linear-gradient(#050505, #050505);
    /* border: 1px solid rgba(255, 255, 255, 0.16); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.25s ease-in;
}

/* font */
* {
    /* font-family: Harmony-re; */
    color: rgba(255, 255, 255, 0.9);
}

.fa-brands,
.fa-brands::before,
.fa-brands::after {
    font-family: "fa-brands" !important;
}

.hidden *,
.hidden {
    display: none !important;
}

.card {
    background: rgba(255, 255, 255, 0.075);
    /* border: 1px solid rgba(255, 255, 255, 0.09); */
    border-radius: 12px;
    border-top: 1.6px solid rgba(255, 255, 255, 0.235);
    /* backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); */
}